.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 20px 50px 20px;
    border: 2.5px solid #4169e1af;
    border-radius: 1rem;

    & .photo_content {
        width: 260px;

        & img {
            width: 100%;
            border-radius: 1rem;
            border: 2.5px solid #4169e1af;
        }
    }

    & p {
        color: white;
        font-weight: bold;
    }

    & .options_card {
        display: flex;
        gap: 2rem;
        padding: 1rem;
        font-size: 1.5rem;
        margin: 0;

        & span {

            & a {
                text-decoration: none;

                & .options {
                    color: #4169e1af;

                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    & .technologies {
        font-size: 11px;
        color: rgba(137, 137, 137, 0.853);

        & .techn {
            margin-right: 4px;
        }

        & .icon {
            font-size: 1.2rem;
            margin-left: 1.5px;

            &:hover {
                color: #4169e1af;
                cursor: pointer;
            }
        }
    }
}