.sobremim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    height: 100vh;
    color: white;

    & div {

        & h1 {
            font-size: 2.5rem;
            color: #4169e1af;
        }
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 800px;


        & p {
            font-size: 1.3rem;

            & strong {
                color: #4169e1af;
            }
        }

    }
}